.services {
    display: flex;
    min-height: 600px;
    background: linear-gradient(135deg, #f9fffb 0%, #efffef 100%);
    color: var(--color-text);
    padding: var(--spacing-3xl) 0;
}

.servicesContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--spacing-6xl);
}

.leftColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-4xl);
}

.servicesTextContainer {
    max-width: 600px;
}

.servicesHeading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
    max-width: 16ch;
    margin-top: 0;
}

.servicesText,
.bullet {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0;
    opacity: 0.95;
    max-width: 50ch;
    /* color: var(--color-text-light); */
}

/* Tablet styles */
@media (max-width: 1024px) {
    .servicesContent {
        grid-template-columns: 1fr;
        gap: var(--spacing-4xl);
    }

    .leftColumn {
        align-items: center;
        text-align: center;
        gap: var(--spacing-4xl);
    }

    .servicesTextContainer {
        padding: 0 var(--spacing-lg);
        max-width: 100%;
    }

    .servicesHeading {
        font-size: var(--font-size-4xl);
        max-width: 100%;
    }

    .servicesText,
    .bullet {
        font-size: var(--font-size-lg);
        max-width: 45ch;
        margin: 0 auto;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .services {
        padding: 0;
    }

    .servicesContent {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-bottom: var(--spacing-2xl);
    }

    .leftColumn {
        align-items: center;
        text-align: center;
        gap: var(--spacing-2xl);
    }

    .servicesTextContainer {
        padding: 0 var(--spacing-lg);
        max-width: 100%;
    }

    .servicesHeading {
        font-size: 2.25rem;
        max-width: 100%;
    }

    .servicesText,
    .bullet {
        font-size: var(--font-size-md);
        max-width: 100%;
    }
}