.processList {
    display: flex;
    gap: var(--spacing-4xl);
    align-self: center;
}

.processItem {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.processTitle,
.processDescription {
    line-height: 1.6;
    margin: 0;
    /* color: var(--text-on-dark-soft); */
}

.processTitle {
    font-size: var(--font-size-lg);
    font-weight: 600;
    color: var(--text-heading);
}

.processDescription {
    font-size: var(--font-size-md);
    opacity: 0.95;
    max-width: 60ch;
}