:root {
  /* Primitive colors */
  --navy-900: #1b263b;
  --navy-700: #415a77;

  --sand-50: #fff5e7;
  --sand-500: #e5d3b3;
  --sand-600: #d4bd96;

  --leather-700: #8C6239;

  --white: #ffffff;
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-400: #94a3b8;
  --slate-50: #f4f7f9;
  --slate-300: #b8c7d9;
  --slate-500: #64748b;
  --black-800: #2b2b2b;

  /* Backgrounds */
  --bg-main: var(--white);
  --bg-soft: var(--gray-50);
  --bg-subtle: var(--slate-50);
  --bg-dark: var(--navy-900);
  --bg-dark-gradient: linear-gradient(135deg, var(--navy-900) 0%, var(--navy-700) 100%);

  /* Text */
  --text-main: var(--black-800);
  --text-muted: var(--slate-500);
  --text-heading: var(--navy-900);
  --text-on-dark: var(--white);
  --text-on-dark-soft: var(--slate-300);

  /* Buttons and interactions */
  /* Primary */
  --action-primary: var(--sand-500);
  --action-primary-hover: var(--sand-600);
  --action-primary-on-white: var(--sand-500);
  --action-primary-on-white-hover: var(--sand-600);

  /* Secondary */
  --action-secondary: var(--leather-700);
  --action-secondary-hover: var(--sand-600);
  --action-secondary-on-white: var(--leather-700);
  --action-secondary-on-white-hover: var(--sand-50);

  /* UI-details */
  --border-light: var(--gray-200);
  --ui-disabled: var(--gray-400);


  /* === Spacing === */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;
  --spacing-3xl: 3rem;
  --spacing-4xl: 4rem;
  --spacing-5xl: 5rem;
  --spacing-6xl: 6rem;

  /* === Border radius === */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  /* === Font sizes === */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.25rem;
  --font-size-4xl: 2.5rem;
  --font-size-5xl: 3rem;

  /* === Font weights === */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* === Container === */
  --container-width: 1200px;

  /* === Navigation === */
  --nav-click-margin: 67px;
}