.button {
    display: inline-block;
    padding: var(--spacing-smd) var(--spacing-lg);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    line-height: 1;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.primary {
    background-color: var(--action-primary);
}

.primary:hover {
    background-color: var(--action-primary-hover);
}

.hero {
    color: #1A2B3C;
}

.primary.hero {
    background-color: var(--action-primary);
}

.primary.hero:hover {
    background-color: var(--action-primary-hover);
}

.secondary {
    background-color: transparent;
    color: var(--text-heading);
    border: 1px solid var(--action-secondary-on-white);
}

.secondary:hover {
    background-color: var(--action-secondary-on-white-hover);
    /* color: var(--action-secondary-on-white); */
}

.secondary.hero {
    background-color: transparent;
    color: var(--action-primary);
    border: 1px solid var(--action-primary);
}

.secondary.hero:hover {
    color: var(--action-secondary-hover);
}

.button:disabled {
    background-color: var(--ui-disabled);
    cursor: not-allowed;
    opacity: 0.6;
}

.sm {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: var(--font-size-sm);
}

.md {
    padding: var(--spacing-md) var(--spacing-lg);
    font-size: var(--font-size-md);
}

.lg {
    padding: var(--spacing-md) var(--spacing-xl);
    font-size: var(--font-size-lg);
}