@import "../styles/variables.css";

html,
body {
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text-dark);
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  max-width: var(--container-width);
  margin: 0 auto;
}

/* Mobile styles */
@media (max-width: 768px) {

  html,
  body {
    overflow-x: hidden;
  }
}