.servicesList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: var(--spacing-2xl);
}

.service {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-light);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-lg) var(--spacing-lg) var(--spacing-sm) var(--spacing-lg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: var(--spacing-md);
}

.service:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.serviceTitle {
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin: 0;
    color: var(--text-heading);
}

.serviceDescription {
    font-size: var(--font-size-md);
    line-height: 1.5;
    opacity: 0.95;
    max-width: 60ch;
    margin: 0;
}

.readMore {
    /* align-self: flex-end; */
    /* margin-top: auto; */
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    /* margin-bottom: 0; */
}

/* Responsive design */
@media (max-width: 1400px) {
    .servicesList {
        justify-content: center;
        margin-right: 0;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .servicesList {
        grid-template-columns: 1fr;
        gap: var(--spacing-xl);
    }
}