.header {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-header);
    color: var(--color-heading);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--color-accent);
}

.inner {
    padding: var(--spacing-md) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-md);
}

.title {
    font-size: var(--font-size-md);
    font-weight: 500;
}

.nav {
    display: flex;
    align-items: center;
}